<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>category</key>
	<string>copyAs</string>
	<key>command</key>
	<string>#!/usr/bin/php
&lt;?php

if (!isset($_ENV['TEST_ENV'])) {
    $c = new CopyAsMarkdown();
    $c-&gt;exec(fopen('php://stdin', 'r'));
}

class CopyAsMarkdown
{
    protected $output;
    protected $columnCount;

    public function exec($stdin)
    {
        $cmd = 'echo ' . escapeshellarg($this-&gt;convert($this-&gt;read($stdin))) . ' | __CF_USER_TEXT_ENCODING=' . posix_getuid() . ':0x8000100:0x8000100 pbcopy';
        exec($cmd);
    }

    protected function read($stdin)
    {
        $result = [];
        while ($row = fgetcsv($stdin, 0)) {
            array_push($result, $row);
        }
        return $result;
    }

    protected function convert(array $rows)
    {
        $this-&gt;columnCount = $this-&gt;calculateColumnCount($rows);
        $columns = array_shift($rows);
        $result = [];
        $result[] = $this-&gt;createHeaderRows($columns);
        $result[] = $this-&gt;createDataRows($rows);
        return implode("\n", $result);
    }

    protected function createHeaderRows(array $columns)
    {
        $result = [];
        $str = '';
        foreach ($columns as $column) {
            $str .= '|' . $column;
        }
        $result[] = $str;

        $str = '';
        for ($i = 0; $i &lt; count($columns); $i++) {
            $str .= '|---';
        }
        $result[] = $str;

        return implode("\n", $result);
    }

    protected function calculateColumnCount(array $rows)
    {
        $count = 0;
        foreach ($rows as $row) {
            $c = count($row);
            if ($c &gt; $count) {
                $count = $c;
            }
        }
        return $count;
    }

    protected function createDataRows(array $rows)
    {
        $result = [];
        foreach ($rows as $row) {
            $str = '';
            foreach ($row as $val) {
                $str .= '|' . str_replace(array("\n", "\r"), '', nl2br($val));
            }
            $result[] = $str;
        }
        return implode("\n", $result);
    }
}</string>
	<key>input</key>
	<string>selectedtablerowsascsv</string>
	<key>name</key>
	<string>copyAsMarkdown</string>
	<key>scope</key>
	<string>datatable</string>
	<key>uuid</key>
	<string>27A5B883-EAC5-4F13-83FC-5898CAF5A515</string>
</dict>
</plist>
